@import "../responsive.scss";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


    .title {
        text-align: center;

        h1 {
            font-size: 70px;
            font-weight: 300;
            background: linear-gradient(to right, hsl(0, 3%, 53%), hsl(160, 29%, 30%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include sm {
                font-size: 40px;
            }
        }

        h4 {
            font-size: 20px;
            font-weight: 200;
            background: linear-gradient(to right, hsl(0, 3%, 53%), hsl(160, 29%, 30%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }


    .wrapper {
        width: 1100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 50px;

        @include lg
        {
            width: 300px;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin: auto;
        }

        @include md{
            width: 300px;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            margin: auto;
        }
        @include sm{
            width: 300px;
            flex-direction: column;
            gap: 50px;
            margin: auto;
        }

        .imgContainer {
            width: 350px;
            height: 350px;
            overflow: hidden;
            border: 1px solid aquamarine;
            border-radius: 10px;
            box-shadow: 0 0 10px aquamarine;

            @include md{
                width: 300px;
                height: 300px;
                object-fit: cover;
            }
            @include sm{
                width: 300px;
                height: 300px;
                object-fit: cover;
            }

            img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                @include sm{
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }
                @include md{
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .boxContainer {
                width:600px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include sm{
                    width: 300px;
                    flex-direction: column;
                    gap: 50px;
                    margin: auto;
                }

                @include lg{
                    width: 300px;
                    flex-direction: column;
                    gap: 50px;
                    margin: auto;
                }

                .box {
                    width: 150px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    border: 1px solid aquamarine;
                    border-radius: 10px;
                    box-shadow: 0 0 5px aquamarine;

                    h4 {
                        font-weight: 300;
                    }

                    p {
                        font-weight: 100;
                    }

                }
            }

            .container {
                width: 600px;
                margin: 20px auto;

                @include sm{
                    width: 300px;
                    flex-direction: column;
                    gap: 50px;
                    margin: auto;
                }



                p {
                    width: 80%;
                    margin: 50px auto;
                    line-height: 22px;
                    font-weight: 100;
                    text-align: center;

                    @include md {
                        width: 70%;
                    }
                    @include sm {
                        width: 100%;


                    }
                }

            }
        }

    }


}