@import "../responsive.scss";
.contact{
    margin: 80px auto;
    .title {
        text-align: center;

        h1 {
            font-size: 70px;
            font-weight: 300;
            background: linear-gradient(to right, hsl(0, 3%, 53%), hsl(160, 29%, 30%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include sm{
                font-size: 40px;
            }
        }

        h4 {
            font-size: 20px;
            font-weight: 200;
            background: linear-gradient(to right, hsl(0, 3%, 53%), hsl(160, 29%, 30%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .wrapper{ 
        width: 1100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 50px;

        @include lg{
            width: 800px;
            flex-direction: column;
            align-items: center;
        
           
        }

        @include md{
            width: 500px;
            flex-direction: column;
            align-items: center;
        
           
        }
        @include sm{
            width: 350px;
            flex-direction: column;
        }

    }

    .contactContainer{
        display: flex;
        .contactDetails{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include lg{
                gap: 30px;
            }
            @include sm{
                gap: 30px;
            }

            h3{
                font-size: 30px;
                font-weight: 200;
                background: linear-gradient(to right, hsl(0, 3%, 53%), hsl(160, 29%, 30%));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @include sm{
                    display: none;
                }
            }

            .box{
                border: 1px solid aquamarine;
                box-shadow: 0 0 5px aquamarine;
                border-radius: 8px;
                width: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;

                @include sm{
                    width: 300px;
                }
                
                span{
                    font-weight: 100;
                }
                .write{
                    display: flex;
                    padding-top: 20px;
                }
            }
        }

      
    }  .formContainer{ 
            @include lg{
                padding-top: 50px;
            }
            @include sm{
                padding-top: 50px;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;
             
    
                input{
                    width: 500px;
                    height: 50px;
                    background-color: transparent;
                    color: aquamarine;
                    border: 1px solid aquamarine;
                    border-radius: 10px;
                    box-shadow: 0 0 5px aquamarine;
                    outline: none;
                    padding: 20px;
                    &::placeholder{
                        color: aquamarine;
                        font-family:Outfit ;
                        font-weight: 100;
                       
                    }
                    @include md{
                        width: 400px;
                    }
                    @include sm{
                        width: 300px;
                    }
                }
    
                textarea{
                    background-color: transparent;
                    border: 1px solid aquamarine;
                    color: aquamarine;
                    border-radius: 10px;
                    box-shadow: 0 0 5px aquamarine;
                    outline: none ;
                    padding: 20px;
                    &::placeholder{
                        color: aquamarine;
                        font-family:Outfit ;
                        font-weight: 100;
                       
                    }
                }
                button{
                    height: 50px;
                    background-color: aquamarine;
                    border: 1px solid aquamarine;
                    color:black;
                    border-radius: 10px;
                    box-shadow: 0 0 5px aquamarine;
                    outline: none;
                    font-weight: 300;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.02);
                        transition: 1s ease;
                    }
    
                    @include sm{
                        margin-bottom: 30px;
                    }
                }
            }
        }
}